In [1]:
# apple stores

import pandas as pd
import requests
from datetime import date

today = date.today().strftime("%Y-%m-%d")

new=requests.get('https://www.apple.com/rsp-web/autocomplete?locale=en_US').json()

store_name=[]
store_num=[]
slug=[]

for locale in new['storeListData']:
    if locale['hasStates'] == True:
        for state in locale['state']:
            for store in state['store']:
                store_name.append(store['name'])
                store_num.append(store['storeNumber'])
                slug.append(store['slug'])
                
    elif locale['hasStates'] != True:
        store_name.append(state['store'][0]['name'])
        store_num.append(store['storeNumber'])
        slug.append(store['slug'])
        
results={'slug': slug,
         'store_num': store_num,
         'store_name': store_name,
         'today': today
        }


pd.DataFrame(results)

                slug store_num         store_name       today
0          abquptown      R177         ABQ Uptown  2022-12-13
1           newhaven      R446          New Haven  2022-12-13
2    greenwichavenue      R282   Greenwich Avenue  2022-12-13
3           trumbull      R629           Trumbull  2022-12-13
4    danburyfairmall      R093  Danbury Fair Mall  2022-12-13
..               ...       ...                ...         ...
515        liverpool      R239          Liverpool  2022-12-13
516   victoriasquare      R313    Victoria Square  2022-12-13
517          cardiff      R334            Cardiff  2022-12-13
518      princesshay      R279        Princesshay  2022-12-13
519         plymouth      R545           Plymouth  2022-12-13

[520 rows x 4 columns]

In [2]:
# export the data to loacl file

def export(a):
    pd.DataFrame(a).to_csv(f'/Users/Zack Burnside/Desktop/collections/apple_locations/apple_locations {today}.csv')
export(results)